[submodule "my_sapphire-fitconnect-ai-pdlc-workflow-ibm-bob-template"]
	path = my_sapphire-fitconnect-ai-pdlc-workflow-ibm-bob-template
	url = https://github.com/MandarKulkarniIBM/sapphire-fitconnect-ai-pdlc-workflow-ibm-bob-template.git
